/* Файл: app\index\css\docs.css */

/* Стиль для блока sticky-wrapper */
#sticky-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Стиль для навигационного меню */
.navbar {
    width: 100%;
}

/* Стиль для элементов меню */
.nav-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
}

/* Стиль для активного элемента меню */
.nav-link.active {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

/* Стиль для иконок в меню */
.nav-link i {
    margin-right: 10px;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-link {
        padding: 8px;
    }
}
