@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("./font/summernote.eot?#iefix") format("embedded-opentype"),
    url("./font/summernote.woff2") format("woff2"),
    url("./font/summernote.woff") format("woff"),
    url("./font/summernote.ttf") format("truetype");
}
